.popup__save {
    margin-top: 23px;
    border: none;
    background-color: black;
    color: #fff;
    min-height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 2px;
    translate: opacity .3 ease;
}
.popup__save:hover {
    opacity: .8;
}

@media screen and (max-width: 650px) {
    .popup__save {
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 5px;
    } 
}

@media screen and (max-width: 550px) {
    .popup__save {
        margin-top: 20px;
    } 
}